body{
  text-align: center;
  background-color: rgb(189, 233, 253);
}
.box {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: rgb(214, 79, 196);
  border-radius: 30px;
}